$main-color: #233348;
$secondry-color: #458FF6;
%container {
    width: 90%;
    margin: 5px auto;
    padding: 15px;
}
%circle {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 10px;
    background-color: $secondry-color;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
}
%title {
    color: $main-color;
    font-weight: 700;
    font-size: 20px;
}
%center {
    width: fit-content;
    margin: 10px auto;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 30px;
        width: 50%;
        height: 5px;
        left: 30%;
        background-color:rgb(141, 141, 141);
        border-radius: 5px;
    }
}
%card {
    width: 32%;
    height: max-content;
    box-shadow: -2px 13px 20px 0px rgb(240, 237, 237);

}
%btn {
    width: max-content;
    margin: 20px auto;
    padding: 20px;
    color: $secondry-color;
    background-color: transparent;
    border-radius: 15px;
    border: $secondry-color 2px solid;
}